@use '../abstracts' as *;

.browser {
    width: 20%;
    @include flex($justify: space-between);
    @include font($primary-font,13px,600);
    button {
        border: none;
        border-radius: 20px;
        padding: 3%;
    }
    &__wrapper {
        @include flex($justify: center,$align:center);
        width: 50%;
        background-color: $fourth-color;
        border-radius: 20px;
        border: 1px solid $border-color;
        &-arrow {
            background-color: $fourth-color;
        }
        &-option {
            display: none;
        }
    }
    &-create {
        text-align: center;
        width: 40%;
        background-color: $third-color;
        color: $fourth-color;
    }
    img {
        width: 80%;
        padding-left: 2px;
    }
}
