@use "../abstracts/" as *;

.header {
    @include flex($direction: row, $justify: space-between);
    width: 100%;
    padding-right: 3%;
    &__wrapper {
        @include flex($direction: row, $align: center, $justify: space-between);
        background-color: $fourth-color;
        border-radius: 20px;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
        &--quick {
            height: 100%;
            margin: 0;
            background-color: $background-color;
            border: none;
            text-align: center;
            border-radius: 20px 0px 0px 20px;
        }
        &--input {
            background-color: $fourth-color;
            border: none;
        }
        &--search,
        &--qr {
            @include flex();
            background-color: $fourth-color;
            border: none;
            border-radius: 0px 10px 10px 0px ;
        }
        &--qr {
            border-left: 1px solid $border-color;
        }
        img {
            width: 80%;
        }
    }
    &__profile {
        @include flex($direction: row, $align: center, $justify: space-between);
        background-color: $fourth-color;
        border-radius: 30px;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
        &--image {
            border-radius: 50%;
            width: 30px;
            padding: 3px;
        }
        &--button {
            background-color: $fourth-color;
            border: none;
            border-radius: 50%;
        }
        &--option {
            display: none;
        }
    }
}
